*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    justify-content: space-between;
    padding: 1rem 1rem;
}
.column-70 img{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    align-items: center;
}


ul li{
    list-style-type: none;
    padding: 1rem 1rem;
}

.button-blue{
    background-color: blue;
    color: white;
    padding: 0.5rem 0.5rem;
    border: 1px blue;
}

.jumbo{
    width: 100%;
    padding: 5rem 20rem 0 20rem;
    background-color: aquamarine;
    position: relative;
}

h1{
    font-size: 5rem;
}

div.jumbo .container-jumbo{
    width: 100%;
}
.column-30{
    width: 30%;
}
.column-30 p{
    margin: 2rem 0;
}
.column-30 button{
    margin: 2rem 0;
}
.column-30 div{
    margin: 2rem 0;
}
.column-70{
    width: 70%;
    height: 100%;
}

.width-70{
    width: 70%;
    margin: auto; 
}
section.width-70 > h3{
    margin: 2rem 0 2rem 0;
    font-size: 3rem;
}

.flex-card{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.card{
    width: calc((100% / 3) - 3rem);
    border: 1px solid black;    
}
.head-card{
    padding: 1rem 0 1rem 0;
    justify-content: center;
    border-bottom: 1px solid black;
}

h4{
    margin-bottom: 3rem;
}

.subheading{
    color: grey;
    padding: 2rem 0 2rem;
}

.card-main-content{
    padding: 2rem 2rem 2rem 2rem;
}
.card-main-content h3{
    padding-bottom: 2rem;
}

.big-card{
    width:100%;
    margin-top: 5rem;
    border:1px solid black;  
}
section.middle-section{
    margin-top: 5rem;
}

div.container-image{
    width: 60%;
    height: 37rem;
    background-image: url(img/partner.png);
    background-size: cover;
}

div.middle-text{
    width: 40%;
    padding-left: 2rem;
 }
 div.middle-text h3,p,button{
    margin-top: 3rem;
 }

div.opt-selection{
    width: calc((100% / 3) - 2rem);
    height: 30rem;
 }

 div.opt-selection img{
    width: 90%;
 }

.pub-spam{
    border: 1px black solid;
    height: 35rem;
    margin-top: 10rem;
    width: 100%;
 }
.pub-spam1{
    border: 1px black solid;
    height: 20rem;
    margin: 0;
    width: 100%;
    background-color:lightblue;
}
section.pub-spam1 div.content-pub-spam1{
    color: brown;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
div.content-pub-spam1 h3{
    font-size: 3rem;
    padding: 5rem 18rem 5rem 0;
}
div.content-pub-spam1 button{
    border: 1px solid white;
    margin: 0.5rem 0.5rem;
    padding: 1rem;
}
.column4{
    width: calc(100% / 3);
    border: 1px solid black;
    height: 100%;
}

.big-column{
    border: 1px solid black;
 }
div.main-section h2{
    font-size: 2rem;
    margin: 8rem 0 5rem 0;
}

.single-adv{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: auto;
}

div.single-adv img{
    width: 70%;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
 }

.question{
    height: 50rem;
}
section.question h3{
    margin: 8rem 3rem 3rem 0;
}

section.question h4{
    margin-top: 3rem;
}

footer{
    padding: 1rem 5rem;
    background-color: black;
    color: white;
    height: 20rem;
 }

.footer-info{
    width: calc(100% / 5);
    border: 1px solid white;
    height: 100%;
 }
.margin-auto{
    margin: 0;
 }