*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    background-color: red;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 1rem;
}
img{
    width: 110px;
    height: 20px;
}
.flex{
    display: flex;
    align-items: center;
}

ul li{
    list-style-type: none;
    padding: 1rem 1rem;
}

.button-blue{
    background-color: blue;
    color: white;
    padding: 0.5rem 0.5rem;
    border: 1px blue;
}

.jumbo{
    width: 100%;
    background-color: green;
    padding: 5rem 20rem 0 20rem;
}

h1{
    font-size: 5rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
    width: 20rem;
}

main{
  margin: 5rem 25rem 0 25rem;  
}

.flex-card{
    display: flex;
    justify-content: space-between;
}
.card{
    height: 30rem;
    width: calc((100% / 3) - 3rem);
    border: 1px solid black;    
}
.head-card{
    padding: 1rem 0 1rem 0;
    justify-content: center;
    border-bottom: 1px solid black;
}

.subheading{
    color: grey;
}

.card-main-content{
    padding: 2rem 2rem 2rem 2rem;
}