*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    justify-content: space-between;
    padding: 1rem 1rem;
}
.column-70 img{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    align-items: center;
}


ul li{
    list-style-type: none;
    padding: 1rem 1rem;
}

.button-blue{
    background-color: blue;
    color: white;
    padding: 0.5rem 0.5rem;
    border: 1px blue;
}

.jumbo{
    width: 100%;
    padding: 5rem 20rem 0 20rem;
    background-color: aquamarine;
    position: relative;
}

h1{
    font-size: 5rem;
}

div.jumbo .container-jumbo{
    width: 100%;
}
.column-30{
    width: 30%;
}
.column-30 p{
    margin: 2rem 0;
}
.column-30 button{
    margin: 2rem 0;
}
.column-30 div{
    margin: 2rem 0;
}
.column-70{
    width: 70%;
    height: 100%;
}

.width-70{
    width: 70%;
    margin: auto; 
}
.width-70 h2{
    margin: 8rem 0 4rem 0;
}
section.width-70 > h3{
    margin: 2rem 0 2rem 0;
    font-size: 3rem;
}

.flex-card{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.margin-flex-card{
    margin: 3rem 3rem 3rem 3rem;
}
.card{
    width: calc((100% / 3) - 3rem);
    border: 1px solid black;    
}
div.card button.button-blue{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
div.card-main-content hr{
    margin: 2rem 0 2rem;
}
.head-card{
    padding: 1rem 0 1rem 0;
    justify-content: center;
    border-bottom: 1px solid black;
}

h4{
    margin-bottom: 3rem;
}

.subheading{
    color: grey;
    padding: 2rem 0 2rem;
}

.card-main-content{
    padding: 2rem 2rem 2rem 2rem;
}
.card-main-content h3{
    padding-bottom: 2rem;
}

.big-card{
    width:100%;
    margin-top: 5rem;
    border:1px solid black;  
}
section.middle-section{
    margin-top: 5rem;
}

div.container-image{
    width: 60%;
    height: 37rem;
    background-image: url(img/partner.png);
    background-size: cover;
}

div.middle-text{
    width: 40%;
    padding-left: 3rem;
}
div.middle-text h3{
    font-size: 2rem;
}
div.middle-text p{
    margin-top: 3rem;
    font-size: 1.5rem;
}
div.middle-text button{
    margin-top: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: 0.7rem;
}
div.opt-selection{
    width: calc((100% / 3) - 2rem);
    height: 30rem;
 }

 div.opt-selection img{
    width: 90%;
 }

.pub-spam{
    margin-top: 10rem;
    width: 100%;
 }
.pub-spam1{
    height: 20rem;
    margin: 0;
    width: 100%;
    background-color:lightblue;
}
section.pub-spam1 div.content-pub-spam1{
    color: brown;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
div.content-pub-spam1 h3{
    font-size: 3rem;
    padding: 5rem 18rem 5rem 0;
}
div.content-pub-spam1 button{
    border: 1px solid white;
    margin: 0.5rem 0.5rem;
    padding: 1rem;
}
.column4{
    width: 100%;
    height: 100%;
}

.big-column{
    height: 33vw;
    background-color: lightgrey;
}
div.big-column img{
    margin: 2rem 2rem 2rem 2rem;
    width: 70%;
}
div.big-column p{
    margin-top: 3rem;
    margin-left: 2rem;
}
div.big-column hr{
    margin-left: 2rem;
}
div.main-section h2{
    font-size: 2rem;
    margin: 8rem 0 5rem 0;
}

.single-adv{
    width: 16.45vw;
    height: 16.45vw;
    margin-top: auto;
}

div.single-adv img{
    width: 70%;
    filter: invert(1);
}
.verde{
    background-color: lightgreen;
}
.amaranto{
    background-color: brown;
}
.celeste{
    background-color: lightsteelblue;
}
.rosso{
    background-color: red;
}
.light-red{
    background-color: orangered;
}
.sky{
    background-color: skyblue;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: rgba(202, 186, 8, 0.795);
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.question{
    margin-bottom: 10rem;
}
section.question h3{
    margin: 8rem 3rem 3rem 0;
}

section.question h4{
    margin-top: 3rem;
}

footer{
    padding: 1rem 10rem;
    background-color: black;
    color: white;
 }

.footer-info{
    width: calc(100% / 5);
}
.footer-info h3{
    margin: 3rem 0 1rem;
}

.margin-0{
    margin: 0;
 }
.margin-auto{
    margin: auto;
}
.margin-top{
    margin-top: 8rem;
    margin-bottom: 1rem;
}
.flex2{
    display: flex;
}